<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <!--#formDevice ="ngform" indique à Angular le nom du formulaire et le passe à ma méthode de vérification obSubmit en paramètres-->
    <form (ngSubmit)="onSubmit(formDevice)" #formDevice="ngForm">
      <div class="form-group">
        <label for="name">
          device name
        </label>
        <!--NgModel déclare que c'est un form à vérifier à Angular-->
        <input type="text" name="name" id="name" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="status">
          device status
        </label>
        <!--ngModel définit = defaultOnOff correspond à la valeur délcaré sur la variable dans le component.ts, donc ici de base ce sera eteint
        (evite aussi les champs vident)-->
        <select name="status " id="status" class="form-control" [ngModel]="defaultOnOff">
          <option value="allumé">Allumé</option>
          <option value="eteint">Eteint</option>
        </select>
      </div>
      <!--[disabled]="formDevice.invalid" desactive le bouton submit si le form n'est pas bien rempli -->
      <button type="submit" class="btn btn-primary" [disabled]="formDevice.invalid">Enregister</button>
    </form>
  </div>
</div>
